<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>WuXi Blog</title>
    <link rel="stylesheet" href="css/fontIcon/iconfont.css">
    <link rel="stylesheet" href="css/fontIcon/iconfont-camera.css">
    <link rel="stylesheet" href="css/fontIcon/iconfont-edit.css">
    <link rel="stylesheet" href="css/my-index.css">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link href="https://cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">
</head>

<body>
    <div id="backToTop" class="hide">
        ^
    </div>
    <div id="fixedBox">
        <div class="fixed-box-content" style="border-right: 1px solid lightgray;">
            <i class="icon iconfont icon-edit"></i>
        </div>
        <div class="fixed-box-content">
            <i class="icon iconfont icon-bofangqi-bofang"></i>
        </div>
    </div>
    <div class="header" hash="home">
        <div class="header-mainnav">
            <span class="header-mainnav-left"><a href="#home">WuXi Blog</a></span>
            <span class="header-mainnav-right">
                <span class="header-mainnav-right-item"><a href="#home">HOME</a></span>
                <span class="header-mainnav-right-item"><a href="#articles">ARTICLES</a></span>
                <span class="header-mainnav-right-item"><a href="#portfolio">PORTFOLIO</a></span>
                <span class="header-mainnav-right-item"><a href="#about">ABOUT</a></span>
            </span>
            <span class="header-mainnav-right-tip">
                三
            </span>
        </div>
        <div class="header-title">
            WuXi Blog
        </div>
    </div>
    <div class="header-mainnav black" hash="common">
        <span class="header-mainnav-left"><a href="#home">WuXi Blog</a></span>
        <span class="header-mainnav-right">
            <span class="header-mainnav-right-item"><a href="#home">HOME</a></span>
            <span class="header-mainnav-right-item"><a href="#articles">ARTICLES</a></span>
            <span class="header-mainnav-right-item"><a href="#portfolio">PORTFOLIO</a></span>
            <span class="header-mainnav-right-item"><a href="#about">ABOUT</a></span>
        </span>
        <span class="header-mainnav-right-tip">
            三
        </span>
    </div>
    <div class="container">
        <div class="content">
            <div hash="home">
                <div class="content-left-column"></div>
                <div class="content-right-column">
                    <div class="content-right-column-item">
                        <div class="content-right-column-item-title">TAG</div>
                        <div id="tag">
                            <div class="tag hover">JavaScript</div>
                            <div class="tag hover">ionic3</div>
                            <div class="tag hover">Vue</div>
                            <div class="tag hover">Angular</div>
                            <div class="tag hover">个人感悟</div>
                        </div>
                    </div>
                    <div class="content-right-column-item">
                        <div class="content-right-column-item-title">ABOUT ME</div>
                        <img src="image/me-head.jpeg" alt="">
                        <div class="content-right-column-item-para">Keep questioning, keep running</div>
                        <div class="content-right-column-item-para">质疑以磨练心智，奔跑以塑造体魄</div>
                        <div class="content-right-column-item-footer">
                            <i class="icon iconfont icon-github hover"></i>
                            <i class="icon iconfont icon-weibo hover"></i>
                            <i class="icon iconfont icon-zhihu-circle-fill hover"></i>
                            <i class="icon iconfont icon-google-plus hover"></i>
                        </div>
                    </div>
                    <div class="content-right-column-item">
                        <div class="content-right-column-item-title">FRIENDS</div>
                        <div class="content-right-column-item-para hover">小宝贝恬恬</div>
                    </div>
                </div>
                <div class="content-bottom" hash="home">
                    <button class="content-bottom-btn">OLDER POSTS-></button>
                </div>
            </div>
            <div hash="articles" id="articles">
            </div>
            <div hash="viewArticles">
                <div class="content-top-img-view">
                    <img src="" style="width: 100%; height: 100%" alt="">
                </div>
                <div class="content-top">
                    <div class="content-top-left"></div>
                    <div class="content-top-right"></div>
                </div>
                <div id="viewer"></div>
            </div>
            <div hash="edit">
                <div class="content-top-img">
                    <img style="width: 100%; height: 100%;" src="" alt="">
                    <div class="hover">
                        <input type="file" id="blogImg">
                        <i class="icon iconfont icon-camera" style="font-size: 60px;"></i>
                        <div>选择文章标题照片</div>
                    </div>
                </div>
                <input type="text" placeholder="请输入文章标题" class="content-top-input">
                <div id="editor"></div>
                <button class="content-bottom-btn-save">发布文章</button>
            </div>
            <div hash="portfolio">
                <div class="content-item">
                    <div class="content-item-title">
                        <span class="content-item-title-left">
                            ES5单页全屏滚动特效
                        </span>
                        <span class="content-item-title-right">
                            2018.08
                        </span>
                    </div>
                    <img src="image/lightblue.png" alt="" style="width: 100%">
                    <div class="content-item-footer">
                        <div class="hover">
                            <a href="full_page.html">
                                查看
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div hash="about">
            </div>
        </div>
    </div>
    <div class="footer">
        <div>Copyright © WuXi Blog 2018 </div>
        <div>Theme by WuXi | Git Star</div>
    </div>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="js/my-index.js"></script>
</body>

</html>